* {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  list-style: none;
}
header li {
  margin-left: 20px;
}
